.banner--homepage {
    max-width: 300px;
    padding: 50px;
    margin-bottom: 20px;
    background-color: $color-secundario;
    color: $color-claro;
    h3 {
        @include font-size(20px);
        @include titulos($Fuente2);
    }
    .button {
        padding: 10px;
        height: 50px;
        border: 2px solid $color-claro;
        @include font-size(18px);
        @include titulos($Fuente2);
    }
    @include media(mobile-only) {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-bottom: 1px;
    }

}